<div style="padding:10px;border-bottom:2px solid #ff8a80;">
  <div class="row">
    <div class="col-md-8">
      <%= comment.body %>
    </div>

    <div class="col-xs-4 last-xs">
      <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago <br>
      <% if user_signed_in? && current_user.is_admin? %>
        <%= link_to "Borrar comentario", [@article, comment], method: :delete, data: { confirm: '¿Borrar comentario definitivamente?' }, class:"txt-main-red"%>
      <%end%>
    </div>
  </div>
</div>
