<div class="gray-letters">
    <div class="row">
        <div class="col-xs-6">
            Puedes dejar tus comentarios
        </div>
        <div class="col-xs-6">
            <%= @article.comments.count %> comentario(s)
        </div>
    </div>

    <div>
        <%= render "comments/form" %>
    </div>

    <div>
        <%= render @article.comments %>
    </div>
</div>
