<div class="antic-font small-font">
    <div class="row end-xs txt-main-red">
        <div class="col-xs-6">
            <%= @article.comments.count %> comentario(s)
        </div>
    </div>

    <div class="row center-xs">
      <div class="col-md-6">
        <% if user_signed_in? %>
          <div>
              <%= render "comments/form" %>
          </div>
        <%else%>
          <div class="txt-main-red">
            <%= link_to "Inicia sesión para poder comentar", new_user_session_path %>
          </div>
        <%end%>
      </div>
    </div>

    <div class="top-space" style="background:#ffebee; border-radius:15px;text-align:left;margin-bottom:1em;">
        <%= render @article.comments %>
    </div>
</div>
