<%= render "partials/secondbg" %>
<section class="container antic-font" style="margin:0 auto; margin-top:4em;">
  <h1 class="text-center gigant-font txt-main-red">Artículos</h1>
  <% if user_signed_in? && current_user.is_admin? %>
    <div class="row end-xs medium-font"><%= link_to "Nuevo artículo", new_article_path, class:"new-object" %></div>
  <%end%>
  <div class="row">
    <%= render @articles %>
  </div>

  <div class="text-center" style="margin-top:2em;font-size:20px;">
    <%= will_paginate @articles, :previous_label => 'Anterior', :next_label => 'Siguiente', class:"flickr_pagination" %>
  </div>
</section>
