<%= render "partials/secondbg" %>
<h1 class="text-center" style="z-index: 5;">Artículos</h1>
<section class="container" style="margin:0 auto;">
  <div class="row">
    <%= render @articles %>
  </div>

  <div class="top-space text-center">
    <%= will_paginate @articles %>
  </div>
</section>
