.field, .top-space, .actions{
  margin-top: 1em;
}

.form-control{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  // border: none;
  // border-bottom: 1px solid;
  // outline: none;
  // width: 100%;
  // display: block;
  // padding: 10px 0px;
  // font-size: 1.2em;
}

.form-control:focus {
    border: 2px solid #ff5252;
}

.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.article-height{
  height: 250px;
}

.article-width{
  width: 100px;
}

.background-cover{
  background-position: center;
  background-size: cover;
}

.text-center{
  text-align: center;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
