*{
  margin: 0px;
  padding: 0px;
}

body, html{
  height: 100%;
}

//INPUT STYLES
.form-control{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
    border: 2px solid #ff5252;
}

.small-btn{
  width: 60%;
  background-color: #b71c1c;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.small-btn:hover{
  background: #c62828;
}

.btn{
    width: 30%;
    background-color: #b71c1c;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c62828;
}

//Global styles

.new-object:hover{ color: #c62828 }

.hard-link:hover{ color:red }

.double-top{ margin-top: 2em }

.bg{
  background: url('/images/fondo_1.jpg');
  height: 100%;
  background-size: cover;
  z-index: -1;
}
.second_bg{
  position: fixed;
  z-index: -1;
}

.antic-font{
  font-family: 'Antic', sans-serif;
}

.small-font{
  font-size: 18px;
}

.medium-font{
  font-size: 30px;
}

.big-font{
  font-size: 40px;
}

.gigant-font{
  font-size: 50px;
}

.back-light-red{
  background: #c62828;
}
.back-red{
  background: #b71c1c;
}

.txt-white{
  color: #fff;
}

.txt-main-red{
  color: #c62828;
}

.txt-red{
  color: rgb(255,0,0) !important;
}

.txt-left{
  text-align: left;
}

.txt-blue{
  color: blue !important;
}

a,a:visited{
  color: inherit;
  text-decoration: none;
}

//NAVIGATION

header{
  height: 75px;
  background: #b71c1c;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#btn-menu{
  display: none;
}

header label{
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul{
  background: #b71c1c;
  display: flex;
  list-style: none;
}

.menu ul ul{
  display: none;
}

.menu a{
  display: block;
  padding: 25px 25px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover{
  background: rgba(250, 0, 0, 0.3);
}

.menu a span{
  margin-left: 10px;
}

.menu ul li:hover ul{
  //width: 190px;
  text-align: left;
  display: block;
  position: absolute;
  z-index: 1;
}

#profile ul li{
  background: #ff5252;
}

@media(max-width: 768px){
  header label{
    display: block;
  }

  .menu{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: 1;
  }

  .menu ul{
    display: block;
    background: #b71c1c;
  }

  .menu ul li:hover ul{
    display: none;
    position: static;
  }

  .menu a span{
    position: absolute;
    right: 5px;
  }

  #btn-menu:checked ~ .menu{
    transform: translateX(0%);
  }

  .menu ul ul{
    background: rgba(250, 0, 0, 0.3);
  }

  .menu ul ul a{
    padding: 15px 40px;
  }
}
