<%= render "partials/secondbg" %>

<section class="container antic-font" style="margin:0 auto; margin-top:4em;">
  <h1 class=" gigant-font text-center txt-main-red">Nueva categoría</h1>

  <%= render 'form', category: @category, action: "Crear" %>
</section>
